@use "../../Fonts";

.products {
  display: flex;
  flex-wrap: wrap;
}

.product-card {
  padding: 2%;
  flex-grow: 1;
  flex-basis: 16%;
  flex-direction: column;
  align-items: center;

  display: flex;
}

.product-image img {
  max-width: 100%;
  box-shadow: 1px 1px 15px;
}

.product-info {
  margin-top: auto;
  font-family: paralucent;
  text-align: center;
  font-size: 1.5rem;

  > h5 {
    margin: 5% 0;
  }

  > h6 {
    margin: 5% 0;
  }

  > button {
    margin: 5% 0;
  }
}

.button-74 {
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-74:hover {
  background-color: #fff;
}

.button-74:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-74 {
    min-width: 120px;
    padding: 0 25px;
  }
}

@media (max-width: 920px) {
  .product-card {
    flex: 1 21%;
  }
}

.products .product-card:first-child,
.products .product-card:nth-child(2) {
  flex: 2 46%;
}

@media (max-width: 600px) {
  .product-card {
    flex: 1 46%;
  }
}

@media (max-width: 480px) {
  .product-filter {
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .product-filter {
    flex-direction: column;
  }
  .sort {
    align-self: flex-start;
  }
}
