@use "../../Colors";
@use "../../Fonts";

.header {
  &__nav {
    background-color: Colors.$main-grey;
    width: 100%;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &__top {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }

  &__pages {
    margin: 10px;
    color: Colors.$light-grey;
    font-family: paralucent, italic;
  }

  &__logo {
    width: 10%;
    margin: 20px 0;
    filter: invert(74%) sepia(70%) saturate(0%) hue-rotate(195deg)
      brightness(104%) contrast(91%);
  }

  &__search {
    width: 2%;
    margin: 20px;
    filter: invert(74%) sepia(70%) saturate(0%) hue-rotate(195deg)
      brightness(104%) contrast(91%);
  }

  &__cart {
    width: 2%;
    margin: 20px;
    filter: invert(74%) sepia(70%) saturate(0%) hue-rotate(195deg)
      brightness(104%) contrast(91%);
  }
}
